<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>
<body>
    <div class="wrapper"> 
        <header class="site-header">
          <nav>
            <a href="/"><strong>JR</strong></a> | 
            <a href="/">Blog</a>
            <a href="/">Books</a>
            <a href="/">Info</a>
            <a href="/">Newsletter</a>
            <a href="/">Podcasts</a>
            <a href="/">Speaking</a>
          </nav>
        </header>
      
        <main>
          <div class="home-page">
            <div class="block">
              <h1>I'm Jason Rodriguez.</h1>
              <p class="intro">I'm a writer and designer helping people get the most out of the web and email. I care about creating accessible and inclusive experiences with the help of technology.</p>
              <p>I also send a well-received email newsletter.</p>
              <a href="/" class="button">Subscribe here</a>
            </div>
            <div class="block">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/48935/hello.jpg" alt="An illustration of me in profile">
            </div>
          </div>
        </main>
      
        <footer>
          <small>All content &copy; Jason Rodriguez. All rights reserved.</small>
        </footer>
      </div>
</body>
</html>